<launch>
  <arg name="routine_config" default="$(find automated_routine)/conf/bham_routine.yaml"/>
  <node pkg="automated_routine" name="automated_routine" type="automated_routine_node.py" output="screen">
    <rosparam command="load" file="$(arg routine_config)" ns="routine_config"/>
  </node>
</launch>
